/* @fonte-face */
@font-face {
    font-family: 'Madimi';/*Nesse caso aqui pode definir o nome que quiser*/
    src: url(https://fonts.googleapis.com/css2?family=Comforter&family=Madimi+One&display=swap);
    font-weight: normal;
}

*{
    margin: 0%;
    padding: 0%;
    font-family:'Madimi';
}
/*Variaveis do CSS
:root{
    --Corprimaria: color #f0000
}
RESULTADO:
Todas as variaveis podemos chamar por comando var(--Corprimaria)

background-color: var(--Corprimaria)
.
*/
:root {
    --CorPrimaria: #02b647;
    --CorSecundaria: #008000;
    --BackgroundProdutos: blue;
    --CorPresença: rgba(52, 218, 209, 0.103);
}
#cabecalho {
    background-color: rgb(31, 34, 37);
    
}
header h1{
    font-family:'Comforter';
    background-color: var(--CorPrimaria);
    text-align: center;
    text-decoration: overline;
    width: 100%;
    font-size: 50px;  
}
/*Cabecalho*/
header {
    background-color: var(--CorSecundaria);
    text-align: center;
}


