
.banner{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-image: url(../images/TOPO.jpg);
    background-size: cover;
    height: 200px;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--CorPrimaria);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    width: 100%;

}
h2 img{
    margin: 10px;
}

#Doces {
    
}